.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: rgba(255, 255, 255, 0.07)
}

.form-group {
  margin-bottom: 1.5rem;
}

.login-button {
  width: 50%;
  padding: 10px 0;
  font-size: 16px;
  background-color: #0b3f83;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0 auto; /* centrado */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  background-color: #0a356f;
  transform: translateY(-1px);
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  background: white;
  color: #0b3f83;
}

.form-group input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 2px rgba(74, 144, 226, 0.2);
}

.field-error {
  color: #e53935;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.verification-modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.verification-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}

.verification-error {
  color: #ff4d4f;
  font-size: 13px;
  margin-top: -8px;
}

.verification-submit-btn {
  width: 100%;
  padding: 10px 16px;
  background-color: #0b3f83;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.verification-submit-btn:hover {
  background-color: #0b3f83;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  background: white;
  color: #0b3f83;
}

.input-field:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 2px rgba(74, 144, 226, 0.2);
}